* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #212121;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: whitesmoke;
}

form {
    width: 100%;
}

.nav {
    background-color: #37474f;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 45px;
    text-align: center;
    line-height: 45px
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.center {
    background-color: springgreen;
    border-radius: 3px;
    width: 45%;
    height: 130px;
    text-align: center;
}

.txtField {
    height: 35px;
    width: 50%;
    border-style: none;
    padding: 0px 8px 0px 8px;
}

.btnSubmit {
    width: 60px
}

.btnSubmit, .dropdownList {
    border-style: none;
    height: 35px;
    margin: 0px;
}